:root {
  --dark-text: hsl(229, 25%, 31%);
  --color-bg: hsl(214, 47%, 23%);
  --color-to-bg: hsl(237, 49%, 15%);
  --score-text-color: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --paper-btn-bg: hsl(230, 89%, 62%);
  --paper-btn-bg-to: hsl(230, 89%, 65%);
  --scissors-btn-bg:  hsl(39, 89%, 49%);
  --scissors-btn-bg-to:  hsl(40, 84%, 53%);
  --rock-btn-bg: hsl(349, 71%, 52%);
  --rock-btn-bg-to: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(farthest-corner at 50% 0%,var(--color-bg),var(--color-to-bg));
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 18px 22px;
  margin-top: 22px;
  border: solid 3px var(--header-outline);
  border-radius: 14px;
}

.container header p{
  color: var(--score-text-color);
  letter-spacing: 3px;
}

.container .score {
  width: 120px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .score span {
  font-size: 42px;
  color: var(--dark-text);
  font-weight: 700;
}

.container .play {
  width: 400px;
  height: 400px;
  margin-top: 64px;
  background-image: url('../public/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .results {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

.container .results .picked:first-child {
  margin-right: 30px;
}

.container .results .picked:last-child {
  margin-left: 30px;
}

.container .results .picked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .results .picked h1 {
  margin-bottom: 64px;
  color: #fff;
  letter-spacing: 3px;
}

.container .results .result {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  margin-top: 82px;
}

.container .results .result h1 {
  font-size: 44px;
}

.container .results .result button {
  background-color: #fff;
  border-radius: 6px;
  color: red;
  width: 162px;
  padding: 12px 0px;
  margin-top: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-rules {
  position: absolute;
  right: 22px;
  bottom: 22px;
  border: solid 1px #fff;
  border-radius: 6px;
  padding: 8px 22px;
  color: #fff;
  font-weight: 700;
  font-family: 'Barlow Semi Condensed', sans-serif; 
  letter-spacing: 3px;
}

.count-down {
  width: 186px;
  height: 186px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 27px;
}

.count-down span {
  font-size: 42px;
  color: var(--dark-text) !important;
}